
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f5f5;
}

main{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c3b28;
    padding: 20px;
}

.logo h2{
    color: white;
}
.navbar{
    display: flex;
    gap: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    transition: .4s ease;
}

.navbar a:hover{
    color: gold;
}
.home-section{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.home-wrapper{
    width: 90%;
    text-align: center;
}

.banner-image{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    .coffee-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.coffee-card{
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    transition: .3s ease;
}

.coffee-card:hover{
    transform: translateY(-8px);
}

.coffee-card img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.equipment-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.equipment-card{
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transition: .3s;
}

.equipment-card:hover{
    transform: scale(1.05);
}

.equipment-card img{
    width: 100%;
    border-radius: 10px;
}
.events-wrapper{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:30px;
}

.event-card{
    width:260px;
    background:white;
    border-radius:10px;
    padding:15px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.event-card img{
    width:100%;
    border-radius:10px;
}
.register-section{
    display:flex;
    justify-content:center;
    padding:40px;
}

.register-wrapper{
    width:350px;
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.register-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.input-form{
    display:flex;
    flex-direction:column;
}

.input-form input{
    padding:10px;
}

.form-btn button{
    width:100%;
    padding:10px;
    background:#5c3b28;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.form-btn button:hover{
    background:#7d553f;
}

